@model IEnumerable<SljemeTimeAttack.Models.Team>

<h2>Team Index</h2>
<ul>
@foreach (var team in Model)
{
    <li>
        <a href="/Team/Details/@team.Id">@team.Name</a> - @team.Country
    </li>
}
</ul>